@model Proyecto_sena.Models.Cliente;

@{
    ViewData["Title"] = "Tablero";
    Layout = "~/Views/Shared/_Layout-02.cshtml";
}

<h2 class="my-3">Cambio de contraseña</h2>

<div class="card col-7">
    <div class="card-header">
        Por favor escriba la nueva contraseña dos veces
    </div>

    <div class="card-body">
        <form method="POST" asp-action="EditarContraseña">

            <div class="my-3">
                <label class="form-label">Contraseña</label>
                <input type="password" name="contraseña" id="contraseña" onkeyup="confirmacion_contraseña();"
                    name="contraseña" class="form-control" placeholder="Escriba aquí la contraseña" required />
            </div>
            <div class="my-3">
                <label class="form-label">Confirmar contraseña</label>
                <input type="password" name="confirmar_contraseña" id="confirmar_contraseña"
                    onkeyup="confirmacion_contraseña();" class="form-control"
                    placeholder="Escriba aquí de nuevo la contraseña" required />
                <div id='mensaje' class="text-primary"></div>
            </div>


            <button id="boton" type="submit" class="btn btn-primary my-3">Editar contraseña</button>
        </form>
    </div>
</div>

<script>
    function confirmacion_contraseña() {
        let password = document.getElementById("contraseña").value;
        let confirm = document.getElementById("confirmar_contraseña").value;

        if (confirm !== password) {
            let field = document.getElementById("mensaje");
            field.innerHTML = "No son iguales ambas contraseñas.";
            document.getElementById('boton').disabled = true;

        } else {
            let field = document.getElementById("mensaje");
            field.innerHTML = "Son iguales ambas contraseñas.";
            document.getElementById('boton').disabled = false;
        }
    }
</script>