@{
    ViewData["Title"] = "Buscar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hola</h2>

<nav>
    @* <div class="logo">
        <img src="~/img/logo-trans-horizontal_1.png" width="180" height="50">
        </div> *@
    <div class="sesion">
        <img src="/img/usuario.jpeg">
        <span>
            <strong>Bienvenido,</strong><br>usuario
            <i class="fas fa-sign-out-alt"></i>
        </span>
    </div>
</nav>

<section id="dashboard">

    <article class="menu">
        <ul>
            <li class="item"><a href="">Usuarios</a></li>
            <li class="item"><a asp-controller="Tablero" asp-action="Buscar">Búsqueda</a></li>
            <li class="item"><a asp-controller="Tablero" asp-action="MostrarDatos">Mostrar datos</a></li>
            <li class="item"><a href="">Usuarios</a></li>
            <li class="item"><a href="">Usuarios</a></li>
        </ul>
    </article>
    <section class="contenido">
        <p>
            Lista de algo
        </p>
        <table class="table" id="mitabla">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Compañia</th>

                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < @ViewBag.longitud; i = i + 3)
                {
                    <tr>
                        <td> @ViewBag.lista[i]</td>
                        <td> @ViewBag.lista[i +1]</td>
                        <td> @ViewBag.lista[i +2]</td>
                    </tr>
                }
            </tbody>

        </table>
    </section>
</section>

<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript"></script>

<script>
    const tablilla = document.querySelector("#mitabla");
    const dataTable = new simpleDatatables.DataTable("tablilla");

</script>
