@model Proyecto_sena.Models.Cliente;

@{
    ViewData["Title"] = "Tablero";
    Layout = "~/Views/Shared/_Layout-02.cshtml";
}

<h2 class="my-3">Edición de usuario</h2>

<div class="card">
    <div class="card-header">
        Por favor edite cualquiera de los campos
    </div>

    <div class="card-body">
        <form method="POST" asp-action="EditarCliente">

            <input type="hidden" id="IdCliente" name="IdCliente" />
            <div class="my-3">
                <label asp-for="NombreCliente" class="form-label">Nombre</label>

                <input asp-for="NombreCliente" class="form-control col-sm-7" type="text" name="nombre"
                value="@ViewBag.persona.NombreCliente" />
            </div>
            <div class="my-3">
                <label asp-for="ApellidoCliente" class="form-label">Apellido</label>
                <input asp-for="ApellidoCliente" class="form-control" type="text" class="sinborde" name="apellido" 
                value="@ViewBag.persona.ApellidoCliente"/>
            </div>

            <div class="my-3">
                <label asp-for="CorreoElectronicoCliente" class="form-label">Correo</label>
                <input asp-for="CorreoElectronicoCliente" class="form-control" type="email" name="correo" 
                value="@ViewBag.persona.CorreoElectronicoCliente" />
            </div>

            <button type="submit" class="btn btn-primary my-3">Editar</button>
        </form>
    </div>
</div>