@{
    ViewData["Title"] = "Tablero";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<nav>
    <div class="logo">
        <img src="~/img/logo-trans-horizontal_1.png" width="180" height="50">
    </div>
    <div class="sesion">
        <img src="~/img/golden.jpg">
        <span>
            <strong>Bienvenido,</strong><br>usuario
            <i class="fas fa-sign-out-alt"></i>
        </span>
    </div>
</nav>

<section id="dashboard">
    <article class="menu">
        <ul>
            <li class="item"><a href="">Usuarios</a></li>
            <li class="item"><a href="">Usuarios</a></li>
            <li class="item"><a href="">Usuarios</a></li>
            <li class="item"><a href="">Usuarios</a></li>
            <li class="item"><a href="">Usuarios</a></li>
        </ul>
    </article>
    <article class="contenido">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </article>
</section>
