@{
    ViewData["Title"] = "Tablero";
    Layout = "~/Views/Shared/_Layout-02.cshtml";
}

<h2 class="my-3">Información sobre el usuario</h2>

<div class="card">
    <div class="card-header"> Se muestran todos los datos del usuario
    </div>
    <div class="card-body">
        <div class="card-text my-3">
            <h4>Nombre de la persona</h4> @ViewBag.persona.NombreCliente
        </div>

        <div class="card-text my-3">
            <h4>Apellido de la persona</h4> @ViewBag.persona.ApellidoCliente
        </div>

        <div class="card-text my-3">
            <h4>Correo de la persona</h4> @ViewBag.persona.CorreoElectronicoCliente
        </div>

        <div class="my-3">Haga click <a asp-controller="Tablero" asp-action="Contrasena" class="card-link">aquí</a> para cambiar la contraseña</div>
        <div class="my-3">Haga click <a asp-controller="Tablero" asp-action="Editar" class="card-link">aquí</a> para
            editar los datos</div>
    </div>
</div>