@{
    ViewData["Title"] = "Tablero";
    Layout = "~/Views/Shared/_Layout-02.cshtml";
}
<section id="dashboard">
    <article class="menu">
        <ul>
            <li class="item"><a href="">Usuarios</a></li>
            <li class="item"><a asp-controller="Tablero" asp-action="Buscar">Búsqueda</a></li>
            <li class="item"><a asp-controller="Tablero" asp-action="MostrarDatos">Mostrar datos</a></li>
            <li class="item"><a asp-controller="Tablero" asp-action="Editar">Editar</a></li>
            <li class="item"><a href="">Usuarios</a></li>
        </ul>
    </article>
    <article class="contenido">

        <span>
            Nombre de la persona: @ViewBag.persona.NombreCliente </br>
        </span>

        <span>
            Apellido de la persona: @ViewBag.persona.ApellidoCliente </br>
        </span>

        <span>
            Correo de la persona: @ViewBag.persona.CorreoElectronicoCliente </br>
        </span>

        <div>Haga click aquí para cambiar la contraseña</div>

    </article>
</section>
