@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<img class="centrar imggrande" src="~/img/Recurso-5.png" alt="" width="1150" height="550" />
<div>
    <h1>Innube</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
        nonummy nibh euismod tinci dunt ut laoreet dolore magna aliquam erat
        volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
        ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse
        molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero
        eros et accumsan et iusto odio dignissim qui blandit praesent lupta tum
        zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum
        dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh
        euismod tin cidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi
        enim ad minim veniam, quis nos trud exerci tation ullamcorper suscipit
        lobortis nisl ut aliquip ex ea commodo consequat.
    </p>
</div>


<h1>Servicios en la nube</h1>

<article class="contenido">
    <div class="catalogo">

        <div class="caja-producto">
            <div class="caja-header">
                <img src="~/img/Recurso-3.png">
            </div>

            <div class="caja-titulo">
                <h3>Copias de respaldo</h3>
            </div>

            <div class="caja-datos">
                <p>
                    <strong>Características</strong> Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Atque, quae? <br>
                </p>
            </div>
        </div>

        <div class="caja-producto">
            <div class="caja-header">
                <img src="~/img/Recurso-3.png">
            </div>

            <div class="caja-titulo">
                <h3>Copias de respaldo</h3>
            </div>

            <div class="caja-datos">
                <p>
                    <strong>Características</strong> Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Atque, quae? <br>
                </p>
            </div>
        </div>

        <div class="caja-producto">
            <div class="caja-header">
                <img src="~/img/Recurso-3.png">
            </div>

            <div class="caja-titulo">
                <h3>Copias de respaldo</h3>
            </div>

            <div class="caja-datos">
                <p>
                    <strong>Características</strong> Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Atque, quae? <br>

                </p>
            </div>
        </div>
    </div>
</article>

<h1>Funcionalidades</h1>
<div>
    <div class="textos
      ">
        <img src="~/img/Recurso-6.png" alt="" width="100" height="100" />
        <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            sed diam nonummy nibh euismod tincidunt ut laoreet dolore
            magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
            nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip
            ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit
            in vulputate velit
            esse molestie consequat, vel illum dolore
        </p>
    </div>
    <div>
        <img src="~/img/Recurso-6.png" alt="" width="100" height="100" />
        <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            sed diam nonummy nibh euismod tincidunt ut laoreet dolore
            magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
            nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip
            ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit
            in vulputate velit
            esse molestie consequat, vel illum dolore
        </p>
    </div>
    <div>
        <img src="~/img/Recurso-6.png" alt="" width="100" height="100" />
        <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            sed diam nonummy nibh euismod tincidunt ut laoreet dolore
            magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
            nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip
            ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit
            in vulputate velit
            esse molestie consequat, vel illum dolore
        </p>
    </div>
    <div>
        <img src="~/img/Recurso-6.png" alt="" width="100" height="100" />
        <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            sed diam nonummy nibh euismod tincidunt ut laoreet dolore
            magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
            nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip
            ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit
            in vulputate velit
            esse molestie consequat, vel illum dolore
        </p>
    </div>
</div>


<h1>Ventajas</h1>
<div>

    <div>
        <img src="~/img/Recurso-7.png" alt="" width="110" height="100" />
        <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            sed diam nonummy nibh euismod tincidunt ut laoreet dolore
            magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
            nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip
            ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit
            in vulputate velit
            esse molestie consequat, vel illum dolore
        </p>
    </div>
    <div>
        <img src="~/img/Recurso-7.png" alt="" width="110" height="100" />
        <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            sed diam nonummy nibh euismod tincidunt ut laoreet dolore
            magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
            nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip
            ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit
            in vulputate velit
            esse molestie consequat, vel illum dolore
        </p>
    </div>
    <div>
        <img src="~/img/Recurso-7.png" alt="" width="110" height="100" />
        <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            sed diam nonummy nibh euismod tincidunt ut laoreet dolore
            magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
            nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip
            ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit
            in vulputate velit
            esse molestie consequat, vel illum dolore
        </p>
    </div>
    <div>
        <img src="~/img/Recurso-7.png" alt="" width="110" height="100" />
        <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            sed diam nonummy nibh euismod tincidunt ut laoreet dolore
            magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
            nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip
            ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit
            in vulputate velit
            esse molestie consequat, vel illum dolore
        </p>
    </div>
</div>

<h1>Contáctenos</h1>

<div>
    <img src="~/img/Recurso-8.png" alt="" width="250" height="145" />
    <div>
        <label for="">Nombre</label>
        <input type="text" />

        <label for="">Correo</label>
        <input type="text" />
        <label for="">Comentario</label>

        <input type="text" />
        <a class="enviar" href="">Enviar</a>
    </div>

</div>
