@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="banner_main">
    <div class="container">
        <div class="row d_flex">
            <div class="col-md-5">
                <div class="text-bg">
                    <h1>
                        Power full<br />
                        Web Hosting
                    </h1>
                    <span>Landing Page 2019</span>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                        enim ad minim veniam, quis nostrud
                    </p>
                    <a href="#">Get Started</a>
                </div>
            </div>
            <div class="col-md-7">
                <div class="text-img">
                    <figure><img class="centrar imggrande" src="~/img/img.png" alt="" width="1150" height="550" />
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="" class="hosting">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>¿Qué es?</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="web_hosting">
                    <figure><img src="img/web.jpg" alt="#" /></figure>
                    <p>
                        Descripción de Innube
                    </p>
                    <a href="#">Read more</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="service" class="Services">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>Best Services</h2>
                    <p>
                        Lorem ipsum dolor sittem ametamngcing elit, per sed do eiusmoad
                        <br />
                        teimpor sittem elit inuning ut sed.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="Services-box">
                    <i><img src="img/service1.png" alt="#" /></i>
                    <h3>Shared Hosting</h3>
                    <p>
                        Donec nec justo eget felis facilisis fermentum. Aliquam
                        porttitor mauris sit amet orci.
                    </p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="Services-box">
                    <i><img src="img/service2.png" alt="#" /></i>
                    <h3>Dedicated Hosting</h3>
                    <p>
                        Donec nec justo eget felis facilisis fermentum. Aliquam
                        porttitor mauris sit amet orci.
                    </p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="Services-box">
                    <i><img src="img/service3.png" alt="#" /></i>
                    <h3>Domain Registration</h3>
                    <p>
                        Donec nec justo eget felis facilisis fermentum. Aliquam
                        porttitor mauris sit amet orci.
                    </p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="Services-box">
                    <i><img src="img/service4.png" alt="#" /></i>
                    <h3>VPS Hosting</h3>
                    <p>
                        Donec nec justo eget felis facilisis fermentum. Aliquam
                        porttitor mauris sit amet orci.
                    </p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="Services-box">
                    <i><img src="img/service5.png" alt="#" /></i>
                    <h3>Cloud Hosting</h3>
                    <p>
                        Donec nec justo eget felis facilisis fermentum. Aliquam
                        porttitor mauris sit amet orci.
                    </p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="Services-box">
                    <i><img src="img/service6.png" alt="#" /></i>
                    <h3>Reseller Hosting</h3>
                    <p>
                        Donec nec justo eget felis facilisis fermentum. Aliquam
                        porttitor mauris sit amet orci.
                    </p>
                </div>
            </div>
            <a class="read_more" href="#">Read More</a>
        </div>
    </div>
</div>

<div id="why" class="why">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>Why you should choose</h2>
                    <p>
                        making it look like readable English. Many desktop publishing
                        packages and web page editors now use Lorem Ipsum as their
                        default model text, and a search for 'lorem ipsum' will uncover
                        many web sites still
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div id="box_ho" class="why-box">
                    <i><img src="img/why1.png" alt="#" /></i>
                    <h3>Powerful Features</h3>
                    <p>
                        making it look like readable English. Many desktop publishing
                        packages and web page editors now use Lorem Ipsum as their
                        default model text, and a search for 'lorem ipsum' will uncover
                        many web sites still
                    </p>
                </div>
                <a class="read_more bg" href="#">Read More</a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="why-box">
                    <i><img src="img/why2.png" alt="#" /></i>
                    <h3>Totaly Optimised</h3>
                    <p>
                        making it look like readable English. Many desktop publishing
                        packages and web page editors now use Lorem Ipsum as their
                        default model text, and a search for 'lorem ipsum' will uncover
                        many web sites still
                    </p>
                </div>
                <a class="read_more bg" href="#">Read More</a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="why-box">
                    <i><img src="img/why3.png" alt="#" /></i>
                    <h3>Worldwide Support</h3>
                    <p>
                        making it look like readable English. Many desktop publishing
                        packages and web page editors now use Lorem Ipsum as their
                        default model text, and a search for 'lorem ipsum' will uncover
                        many web sites still
                    </p>
                </div>
                <a class="read_more bg" href="#">Read More</a>
            </div>
        </div>
    </div>
</div>

<div id="contact" class="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form class="main_form">
                    <div class="row">
                        <div class="col-sm-12">
                            <input class="contactus" placeholder="Name" type="text" name="Name" />
                        </div>
                        <div class="col-sm-12">
                            <input class="contactus" placeholder="Email" type="text" name=" Email" />
                        </div>
                        <div class="col-sm-12">
                            <input class="contactus" placeholder="Phone" type="text" name="Phone" />
                        </div>
                        <div class="col-sm-12">
                            <textarea class="textarea" placeholder="Message" type="text" name="Message"></textarea>
                        </div>
                        <div class="col-sm-12">
                            <button class="send">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@*
    <img class="centrar imggrande" src="~/img/Recurso-5.png" alt="" width="1150" height="550" />
    <div>
    <h1>Innube</h1>
    <p>
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
    nonummy nibh euismod tinci dunt ut laoreet dolore magna aliquam erat
    volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
    ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
    Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse
    molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero
    eros et accumsan et iusto odio dignissim qui blandit praesent lupta tum
    zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum
    dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh
    euismod tin cidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi
    enim ad minim veniam, quis nos trud exerci tation ullamcorper suscipit
    lobortis nisl ut aliquip ex ea commodo consequat.
    </p>
    </div>
*@

@* <h1>Servicios en la nube</h1>

    <article class="contenido">
    <div class="catalogo">

    <div class="caja-producto">
    <div class="caja-header">
    <img src="~/img/Recurso-3.png">
    </div>

    <div class="caja-titulo">
    <h3>Copias de respaldo</h3>
    </div>

    <div class="caja-datos">
    <p>
    <strong>Características</strong> Lorem ipsum, dolor sit amet consectetur adipisicing elit.
    Atque, quae? <br>
    </p>
    </div>
    </div>

    <div class="caja-producto">
    <div class="caja-header">
    <img src="~/img/Recurso-3.png">
    </div>

    <div class="caja-titulo">
    <h3>Copias de respaldo</h3>
    </div>

    <div class="caja-datos">
    <p>
    <strong>Características</strong> Lorem ipsum, dolor sit amet consectetur adipisicing elit.
    Atque, quae? <br>
    </p>
    </div>
    </div>

    <div class="caja-producto">
    <div class="caja-header">
    <img src="~/img/Recurso-3.png">
    </div>

    <div class="caja-titulo">
    <h3>Copias de respaldo</h3>
    </div>

    <div class="caja-datos">
    <p>
    <strong>Características</strong> Lorem ipsum, dolor sit amet consectetur adipisicing elit.
    Atque, quae? <br>

    </p>
    </div>
    </div>
    </div>
    </article>

    <h1>Funcionalidades</h1>
    <div>
    <div class="textos
    ">
    <img src="~/img/Recurso-6.png" alt="" width="100" height="100" />
    <p>
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
    sed diam nonummy nibh euismod tincidunt ut laoreet dolore
    magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
    nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip
    ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit
    in vulputate velit
    esse molestie consequat, vel illum dolore
    </p>
    </div>
    <div>
    <img src="~/img/Recurso-6.png" alt="" width="100" height="100" />
    <p>
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
    sed diam nonummy nibh euismod tincidunt ut laoreet dolore
    magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
    nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip
    ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit
    in vulputate velit
    esse molestie consequat, vel illum dolore
    </p>
    </div>
    <div>
    <img src="~/img/Recurso-6.png" alt="" width="100" height="100" />
    <p>
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
    sed diam nonummy nibh euismod tincidunt ut laoreet dolore
    magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
    nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip
    ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit
    in vulputate velit
    esse molestie consequat, vel illum dolore
    </p>
    </div>
    <div>
    <img src="~/img/Recurso-6.png" alt="" width="100" height="100" />
    <p>
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
    sed diam nonummy nibh euismod tincidunt ut laoreet dolore
    magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
    nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip
    ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit
    in vulputate velit
    esse molestie consequat, vel illum dolore
    </p>
    </div>
    </div>


    <h1>Ventajas</h1>
    <div>

    <div>
    <img src="~/img/Recurso-7.png" alt="" width="110" height="100" />
    <p>
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
    sed diam nonummy nibh euismod tincidunt ut laoreet dolore
    magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
    nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip
    ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit
    in vulputate velit
    esse molestie consequat, vel illum dolore
    </p>
    </div>
    <div>
    <img src="~/img/Recurso-7.png" alt="" width="110" height="100" />
    <p>
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
    sed diam nonummy nibh euismod tincidunt ut laoreet dolore
    magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
    nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip
    ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit
    in vulputate velit
    esse molestie consequat, vel illum dolore
    </p>
    </div>
    <div>
    <img src="~/img/Recurso-7.png" alt="" width="110" height="100" />
    <p>
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
    sed diam nonummy nibh euismod tincidunt ut laoreet dolore
    magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
    nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip
    ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit
    in vulputate velit
    esse molestie consequat, vel illum dolore
    </p>
    </div>
    <div>
    <img src="~/img/Recurso-7.png" alt="" width="110" height="100" />
    <p>
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
    sed diam nonummy nibh euismod tincidunt ut laoreet dolore
    magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
    nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip
    ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit
    in vulputate velit
    esse molestie consequat, vel illum dolore
    </p>
    </div>
    </div>

    <h1>Contáctenos</h1>

    <div>
    <img src="~/img/Recurso-8.png" alt="" width="250" height="145" />
    <div>
    <label for="">Nombre</label>
    <input type="text" />

    <label for="">Correo</label>
    <input type="text" />
    <label for="">Comentario</label>

    <input type="text" />
    <a class="enviar" href="">Enviar</a>
    </div>

    </div> *@
