@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="banner_main">
    <div class="container">
        <div class="row d_flex">
            <div class="col-md-5" id="bloque_inicial">
                <div class="text-bg">
                    <h1>
                        Sistema de información
                    </h1>
                    @* <span>La plataforma para encontrar la mejor información sobre servicios en la nube en
                        Colombia</span> *@
                    <p>
                        Innube es la plataforma para encontrar la mejor información sobre servicios de la
                        nube en Colombia
                    </p>
                    <a href="#">Empieza</a>
                </div>
            </div>
            <div class="col-md-7">
                <div class="text-img">
                    <figure><img src="~/img/964.png" alt="" width="100px" />
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="innube-descripcion" class="hosting">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>Acerca de Innube</h2>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col">

                <div class="col-md-12">
                    <div class="web_hosting">
                        <div class="imagen-descripcion">
                            <figure><img src="/img/web.jpg" alt="#" /></figure>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col color=black">
                <p>
                    Innube es la plataforma que le permite acceder a información relevante sobre los servicios de la
                    nube
                    que existen en Colombia. Enfocada principalmente a mipymes (micro y pequeñas empresas), el objetivo
                    que
                    se preparen para un nueva era de la información con servicios para aumentar la productividad. Innube
                    quiere
                    conectarlo con los mejores empresas que ofrecen servicios de la nube, sin costo alguno para usted.
                </p>
            </div>
        </div>
    </div>
</div>

<div id="modulos" class="Services">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>Módulos</h2>
                    <p>
                        Aquí encuentra información sobre los diferentes servicios de la nube que existen.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="Services-box">
                    <i><img src="/img/service1.png" alt="#" /></i>
                    <h3>Hosting compartido</h3>
                    <p>
                        Posibilidad de hosting compartido, depende de cómo usted lo desee.
                    </p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="Services-box">
                    <i><img src="/img/service2.png" alt="#" /></i>
                    <h3>Procesamiento y cómputo</h3>
                    <p>
                        Usted también tiene la facilidad de
                    </p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="Services-box">
                    <i><img src="/img/service3.png" alt="#" /></i>
                    <h3>Almacenamiento</h3>
                    <p>
                        Donec nec justo eget felis facilisis fermentum. Aliquam
                        porttitor mauris sit amet orci.
                    </p>
                </div>
            </div>
            @* <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="Services-box">
                <i><img src="img/service4.png" alt="#" /></i>
                <h3>VPS Hosting</h3>
                <p>
                Donec nec justo eget felis facilisis fermentum. Aliquam
                porttitor mauris sit amet orci.
                </p>
                </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="Services-box">
                <i><img src="img/service5.png" alt="#" /></i>
                <h3>Cloud Hosting</h3>
                <p>
                Donec nec justo eget felis facilisis fermentum. Aliquam
                porttitor mauris sit amet orci.
                </p>
                </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="Services-box">
                <i><img src="img/service6.png" alt="#" /></i>
                <h3>Reseller Hosting</h3>
                <p>
                Donec nec justo eget felis facilisis fermentum. Aliquam
                porttitor mauris sit amet orci.
                </p>
                </div>
                </div> *@
        </div>
    </div>
</div>


<section id="ventajas" class="content-2 wide-60 content-section division">
    <div class="container">
        <div class="row d-flex align-items-center">
            <!-- IMAGE BLOCK -->
            <div class="col-md-5 col-lg-6">
                <div class="img-block left-column pc-25 mb-40 wow fadeInRight" data-wow-delay="0.4s">
                    <img id="imagen-fluid" src="/img/611.png" alt="content-image" />
                </div>
            </div>

            <!-- TEXT BLOCK -->
            <div class="col-md-7 col-lg-6">
                <div class="titlepage">
                    <h2>Ventajas</h2>
                </div>
                <div class="txt-block right-column pc-35 mb-40 wow fadeInLeft" data-wow-delay="0.4s">
                    <!-- Small Title -->
                    <h5 class="h5 h5-xs sm-title">1. Fácil acceso</h5>

                    <!-- Text -->
                    <p class="parrafo-peq">
                        Hay fácil acceso a los servicios que usted busca.
                    </p>

                    <!-- Small Title -->
                    <h5 class="h5 h5-xs sm-title mt-30">2. Mútliples opciones</h5>

                    <!-- Text -->
                    <p class="parrafo-peq">
                        Hay múltiples opciones con los cuales usted puede elegir.
                    </p>

                    <!-- Small Title -->
                    <h5 class="h5 h5-xs sm-title mt-30">3. Contacto directo</h5>

                    <!-- Text -->
                    <p class="parrafo-peq">
                        Una de las ventajas que la plataforma es que después de escoger los servicios que usted quiere,
                        usted puede comunicarse con las empresas que ofrecen dichos servicios.
                    </p>
                </div>
            </div>
            <!-- END TEXT BLOCK -->
        </div>
        <!-- End row -->
    </div>
    <!-- End container -->
</section>

<div id="contacto" class="contact">
    <div class="container">
        <div class="titlepage">
            <h2>Contáctenos</h2>
        </div>
        <div class="row align-items-center">
            <div class="col-3">
                <div class="text-img">
                    <div id="contenedor-img">
                        <figure><img src="~/img/correo-imagen.png" alt="" />
                        </figure>
                    </div>
                </div>
            </div>
            <div class="col-md-6 offset-md-3">
                <form class="main_form">
                    <div class="row">
                        <div class="col-sm-12">
                            <input class="contactus" placeholder="Nombre" type="text" name="Name" />
                        </div>
                        <div class="col-sm-12">
                            <input class="contactus" placeholder="Correo" type="text" name=" Email" />
                        </div>
                        <div class="col-sm-12">
                            <input class="contactus" placeholder="Teléfono" type="text" name="Phone" />
                        </div>
                        <div class="col-sm-12">
                            <textarea class="textarea" placeholder="Mensaje" type="text" name="Message"></textarea>
                        </div>
                        <div class="col-sm-12">
                            <button class="send">Enviar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>