@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="banner_main">
    <div class="container">
        <div class="row d_flex">
            <div class="col-md-5" id="bloque_inicial">
                <div class="text-bg">
                    <h1>
                        Sistema de información
                    </h1>
                    <span>Landing Page 2019</span>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                        enim ad minim veniam, quis nostrud
                    </p>
                    <a href="#">Empieza</a>
                </div>
            </div>
            <div class="col-md-7">
                <div class="text-img">
                    <figure><img src="~/img/964.png" alt="" width="100px" />
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="" class="hosting">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>Acerca de Innube</h2>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col">

                <div class="col-md-12">
                    <div class="web_hosting">
                        <figure><img id="imagen-descripcion" src="img/web.jpg" alt="#" /></figure>
                    </div>
                </div>

            </div>
            <div class="col color=black">
                <p>
                    Descripción de Innube
                </p>
            </div>
        </div>
    </div>
</div>

<div id="service" class="Services">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>Funcionalidades</h2>
                    <p>
                        Lorem ipsum dolor sittem ametamngcing elit, per sed do eiusmoad
                        <br />
                        teimpor sittem elit inuning ut sed.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="Services-box">
                    <i><img src="img/service1.png" alt="#" /></i>
                    <h3>Shared Hosting</h3>
                    <p>
                        Donec nec justo eget felis facilisis fermentum. Aliquam
                        porttitor mauris sit amet orci.
                    </p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="Services-box">
                    <i><img src="img/service2.png" alt="#" /></i>
                    <h3>Dedicated Hosting</h3>
                    <p>
                        Donec nec justo eget felis facilisis fermentum. Aliquam
                        porttitor mauris sit amet orci.
                    </p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="Services-box">
                    <i><img src="img/service3.png" alt="#" /></i>
                    <h3>Domain Registration</h3>
                    <p>
                        Donec nec justo eget felis facilisis fermentum. Aliquam
                        porttitor mauris sit amet orci.
                    </p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="Services-box">
                    <i><img src="img/service4.png" alt="#" /></i>
                    <h3>VPS Hosting</h3>
                    <p>
                        Donec nec justo eget felis facilisis fermentum. Aliquam
                        porttitor mauris sit amet orci.
                    </p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="Services-box">
                    <i><img src="img/service5.png" alt="#" /></i>
                    <h3>Cloud Hosting</h3>
                    <p>
                        Donec nec justo eget felis facilisis fermentum. Aliquam
                        porttitor mauris sit amet orci.
                    </p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="Services-box">
                    <i><img src="img/service6.png" alt="#" /></i>
                    <h3>Reseller Hosting</h3>
                    <p>
                        Donec nec justo eget felis facilisis fermentum. Aliquam
                        porttitor mauris sit amet orci.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<section id="content-2" class="content-2 wide-60 content-section division">
    <div class="container">
        <div class="row d-flex align-items-center">
            <!-- IMAGE BLOCK -->
            <div class="col-md-5 col-lg-6">
                <div class="img-block left-column pc-25 mb-40 wow fadeInRight" data-wow-delay="0.4s">
                    <img id="imagen-fluid" src="img/611.png" alt="content-image" />
                </div>
            </div>

            <!-- TEXT BLOCK -->
            <div class="col-md-7 col-lg-6">
                <div class="titlepage">
                    <h2>Ventajas</h2>
                </div>
                <div class="txt-block right-column pc-35 mb-40 wow fadeInLeft" data-wow-delay="0.4s">
                    <!-- Small Title -->
                    <h5 class="h5 h5-xs sm-title">1. Organized Code</h5>

                    <!-- Text -->
                    <p class="parrafo-peq">
                        An enim nullam tempor ac tincidunt ligula massa faucibus orci
                        luctus ultrices sapien gravida donec pretium ipsum porta justo
                        integer at odio velna vitae auctor integer congue magna
                    </p>

                    <!-- Small Title -->
                    <h5 class="h5 h5-xs sm-title mt-30">2. Free Updates</h5>

                    <!-- Text -->
                    <p class="parrafo-peq">
                        An enim nullam tempor a sapien gravida donec pretium ipsum and
                        porta justo integer at velna vitae integer congue magna at
                        tincidunt ligula massa faucibus orci luctus ultrices gravida
                    </p>

                    <!-- Small Title -->
                    <h5 class="h5 h5-xs sm-title mt-30">3. Premium Support</h5>

                    <!-- Text -->
                    <p class="parrafo-peq">
                        An enim nullam tempor sapien gravida donec pretium ipsum at
                        porta justo integer odio velna vitae auctor integer congue
                        undo magna purus a pretium ligula rutrum and luctus ultrice
                    </p>
                </div>
            </div>
            <!-- END TEXT BLOCK -->
        </div>
        <!-- End row -->
    </div>
    <!-- End container -->
</section>

<div id="contact" class="contact">
    <div class="container">
        <div class="titlepage">
            <h2>Contáctenos</h2>
        </div>
        <div class="row align-items-center">
            <div class="col-3">
                <div class="text-img">
                    <div id="contenedor-img">
                        <figure><img src="~/img/correo-imagen.png" alt="" />
                        </figure>
                    </div>
                </div>
            </div>
            <div class="col-md-6 offset-md-2">
                <form class="main_form">
                    <div class="row">
                        <div class="col-sm-12">
                            <input class="contactus" placeholder="Nombre" type="text" name="Name" />
                        </div>
                        <div class="col-sm-12">
                            <input class="contactus" placeholder="Correo" type="text" name=" Email" />
                        </div>
                        <div class="col-sm-12">
                            <input class="contactus" placeholder="Teléfono" type="text" name="Phone" />
                        </div>
                        <div class="col-sm-12">
                            <textarea class="textarea" placeholder="Mensaje" type="text" name="Message"></textarea>
                        </div>
                        <div class="col-sm-12">
                            <button class="send">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>