@{
    ViewData["Title"] = "Registro";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="bodyre">
    <div class="cajaRC">
        <img class="centrar" src="~/img/logo-trans-horizontal_1.png" alt="" width="160px" height="50px">
        <h4>¿Qué usuario eres?</h4>
        <div class="aconfirmar"> <a asp-area="" asp-controller="Registro" asp-action="RegCliente">Cliente</a></div>
        <div class="aconfirmar"><a asp-area="" asp-controller="Registro" asp-action="RegEmpresa">Empresa</a></div>
        <div class="aconfirmar"><a asp-area="" asp-controller="Registro" asp-action="RegEmpresaOfertante">Empresa ofertante</a></div>
    </div>
</div>