@{
    ViewData["Title"] = "Registro cliente";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="bodyre">
    <div class="cajaRC">
        <img class="centrar" src="~/img/logo-trans-horizontal_1.png" alt="" width="160px" height="50px">
        <h3>Registro Cliente</h3>
        <div>
            <label for="">Nombre</label>
            <input type="text" />
        </div>
        <div><label for="">Apellido</label> <input type="text" class="sinborde" /></div>

        <div><label for="">Telefono</label> <input type="number" /></div>

        <div><label for="">Correo</label> <input type="email" /></div>

        <div><label for="">Contraseña</label> <input type="password" /></div>

        <div>
            <label for="">Confirmar Contraseña</label> <input type="password" />
        </div>
        <div class="centrarbotonregistro"> <a class="" href="">Registrarse</a></div>
    </div>
</div>