@model Proyecto_sena.Models.ClienteCompañium;

@{
    ViewData["Title"] = "Registro Empresa";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">

        <div class="col-md-12" style="margin-top: 40px;">
            <div class="titlepage">
                <h3><strong>Registro de empresa</strong></h3>
            </div>
        </div>

        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">

            <form method="POST" asp-action="CrearCompañiaCliente">

                <input type="hidden" id="IdClienteCompañia" name="IdClienteCompañia" />

                <div class="form-outline mb-4">
                    <label asp-for="NombreCompañia" class="form-label">Nombre de la compañía</label>
                    <input asp-for="NombreCompañia" type="text" name="NombreCompañia" class="form-control"
                        placeholder="Escriba aquí en nombre de la compañía" required />
                </div>
                <div class="form-outline mb-4">
                    <label asp-for="TelefonoCompañia" class="form-label">Teléfono</label>
                    <input asp-for="TelefonoCompañia" type="text" name="TelefonoCompañia" class="form-control"
                        placeholder="Escriba aquí el teléfono de la compañía" required />
                </div>

                <div class="form-outline mb-4">
                    <label asp-for="CorreoElectronicoCompañia" class="form-label">Correo</label>
                    <input asp-for="CorreoElectronicoCompañia" type="email" name="CorreoElectronicoCompañia"
                        class="form-control" placeholder="Escriba aquí el correo de la compañía" required />
                </div>

                <div class="form-outline mb-4">
                    <label asp-for="DireccionCompañia" class="form-label">Dirección</label>
                    <input asp-for="DireccionCompañia" type="text" name="DireccionCompañia" class="form-control"
                        placeholder="Escriba aquí la dirección de la compañía" required />
                </div>

                <div class="form-outline mb-4">
                    <label asp-for="NitCompañia" class="form-label">NIT</label>
                    <input asp-for="NitCompañia" type="text" name="NitCompañia" class="form-control"
                        placeholder="Escriba aquí el NIT de la compañía" required />
                </div>

                <div class="form-outline mb-4">
                    <label asp-for="IdCiudad" class="form-label">Ciudad</label>
                    <select class="form-select" name="IdCiudad" type="text" id="ciudad"
                        asp-items="@ViewBag.lista_ciudad" required></select>

                </div>

                <div class="form-outline mb-4">
                    <label asp-for="DireccionCompañia" class="form-label">Departamento</label>
                    <select name="IdDepartamento" type="text" id="departamento" asp-items="@ViewBag.lista_departamento"
                        class="form-select" disabled></select>
                </div>

                <div class="form-outline mb-4">
                    <label class="form-label">Contraseña</label>
                    <input type="password" name="contraseña" id="contraseña" onkeyup="confirmacion_contraseña();"
                        name="contraseña" class="form-control" placeholder="Escriba aquí la contraseña" required />
                </div>

                <div class="form-outline mb-4">
                    <label class="form-label">Confirmar contraseña</label>
                    <input type="password" name="confirmar_contraseña" id="confirmar_contraseña"
                        onkeyup="confirmacion_contraseña();" class="form-control"
                        placeholder="Escriba aquí de nuevo la contraseña" required />
                    <div id='mensaje' class="form-text"></div>
                </div>

                <!-- Submit button -->
                <div class="d-grid ">
                    <button type="submit" id="boton" class="btn btn-primary btn-lg btn-block">Registrarse</button>
                </div>

            </form>
        </div>
    </div>
</div>



<script>

    function confirmacion_contraseña() {
        let password = document.getElementById("contraseña").value;
        let confirm = document.getElementById("confirmar_contraseña").value;

        if (confirm !== password) {
            let field = document.getElementById("mensaje");
            field.innerHTML = "No son iguales ambas contraseñas.";
            field.style.color = 'blue';
            document.getElementById('boton').disabled = false;

        } else {
            let field = document.getElementById("mensaje");
            field.innerHTML = "Son iguales ambas contraseñas.";
            field.style.color = 'blue';
        }
    }

    let ciudades = document.getElementById('ciudad');
    ciudades.addEventListener("change", (e) => {
        console.log(e.target.value);

        if (e.target.value == 1) {
            document.querySelector('#departamento').options[0].selected = true;
        }

        if (e.target.value == 2) {
            document.querySelector('#departamento').options[1].selected = true;
        }

        if (e.target.value == 3) {
            document.querySelector('#departamento').options[2].selected = true;
        }

        if (e.target.value == 4) {
            document.querySelector('#departamento').options[3].selected = true;
        }
    });

</script>