@{
    ViewData["Title"] = "Registro Empresa";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="bodyre">
    <div class="cajaRC">
        <img class="centrar" src="/Img/logo-trans-horizontal_1.png" alt="" width="160px" height="50px">
        <h3>Registro Empresa</h3>
        <label for="">Nit</label>
        <input type="number" />

        <label for="">Nombre Empresa</label>
        <input type="text" />

        <label for="">Telefono</label>
        <input type="number" />

        <label for="">Direccion</label>
        <input type="text" />

        <label for="">Departamento</label>
        <input type="text" />

        <label for="">Ciudad</label>
        <input type="text" />

        <label for="">Correo</label>
        <input type="email" />

        <label for="">Contraseña</label>
        <input type="password" />

        <label for="">Confirmar Contraseña</label>
        <input type="password" />

        <div class="centrarbotonregistro"> <a class="" href="">Registrarse</a></div>
    </div>
</div>