@{
    ViewData["Title"] = "Inicio sesión";
    Layout = "/Views/Shared/_Layout.cshtml";
}


<div class="bodyre">
    <div class="cajaRC">
        <img class="centrar" src="~/img/logo-trans-horizontal_1.png" alt="" width="160px" height="50px">
        <h3>Iniciar sesión</h3>
        <div>

            <div><label for="">Correo</label><div> <input type="email" /></div></div>

            <div><label for="">Contraseña</label> <div><input type="password" /></div>
        </div>
            <h6>¿Olvidó su contraseña?</h6>

            <div class="aconfirmar"> <a class="" href="">Ingresar</a></div>

            <h6>Si aún no tiene cuenta, regístrese</h6>

        </div>
    </div>
</div>