@{
    ViewData["Title"] = "Inicio sesión";
    Layout = "/Views/Shared/_Layout.cshtml";
}


<div class="bodyre">
    <div class="cajaRC">
        <img class="centrar" src="~/img/logo-trans-horizontal_1.png" alt="" width="160px" height="50px">
        <h3>Iniciar sesión</h3>
        <div>

            <div><label for="">Correo</label> <input type="email" /></div>

            <div><label for="">Contraseña</label> <input type="password" /></div>
            <h5>¿Olvidó su contraseña?</h5>

            <div class="aconfirmar"> <a class="" href="">Ingresar</a></div>

            <h5>Si aún no tiene cuenta, regístrese</h5>

        </div>
    </div>
</div>